html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* 전체 페이지의 가로 스크롤을 방지 */
  text-align: center;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%; /* container 너비를 100%로 설정 */
  overflow-x: auto; /* 보드 컨테이너 내에서만 가로 스크롤 활성화 */
}

.pixel-board {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid #ddd;
  width: 4600px; /* 보드의 실제 너비 설정(픽셀*픽셀 수) */
  min-width: 100%; /* 필요 없으면 제거 가능 */
}

.pixel {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid black;
}
